@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.home-page-container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	background: #eee;
}

.home-page-container h1 {
	color: #333;
	margin-bottom: 16px;
}
